@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Roboto&display=swap");
.card {
  box-shadow: 4px 4px 15px rgba(#000, 0.15);
  position: relative;
  color: #434343;
}
.card::before {
  position: absolute;
  top: 20px;
  right: -0.2rem;
  content: "";
  background: #283593;
  height: 28px;
  width: 28px;
  transform: rotate(45deg);
}

.card::after {
  position: absolute;
  content: attr(data-label);
  top: 4px;
  right: -10px;
  padding: 3px;
  width: 5rem;
  background: #3949ab;
  color: white;
  text-align: center;
  font-family: "Roboto", sans-serif;
  box-shadow: 4px 4px 15px rgba(26, 35, 126, 0.2);
}
/* .animation--block--bottom {
  position: absolute;
  animation-name: animationblockbottom;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
@keyframes animationblockbottom {
  0% {
    bottom: -40px;
    opacity: 0;
  }

  100% {
    bottom: 6px;
    opacity: 1;
  }
} */
.showMore {
  display: none;
  width: 100%;
  height: 0px;
  background: red;
  transition: display 0s, height 2s;
}
.showMore:hover {
  display: block;
  height: 100px;
}
